@import "tailwindcss";
@import "tw-animate-css";
@import "../../../packages/tailwind-config/theme.css";
@source "../../../packages/components/**/*.{ts,tsx}";
@source "../../../packages/lib/**/*.{ts,tsx}";

body {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 0.75rem; /* text-xs */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
